@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
	
}

[class*="__container"]{
	max-width: 1200px;
	margin:0 auto;
}
/*---------------------------------------------------------------------------------------*/

body {
	line-height: 1;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
	background:url("../img/road_PNG19.png")0 0/cover no-repeat;
	
	min-height:100%;
	padding:80px 0;
}
.header-2{
	width:80px;
	height:70px;
	background: rgba(255, 255, 19, 0.742);
	transform: rotate(50deg);
	
}
.header-1{	
position: relative;
	width: 80px;
	height: 70px;
	left: 80%;
background-color: #edff23;
transform-origin:center;
animation-name:bike-nav;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-delay: 200ms;
}

@keyframes bike-nav{

0%{

}

100%{
transform: rotate(580deg);
}

}



.main {
}
.avto {

position: relative;
width:100%;

}
.avto__body {
	background: rgb(68, 105, 175);
	width:480px;
	height:230px;
	border: 1px solid #1C6EA4;
    border-radius: 70px 142px 1px 29px;
	position: relative;
	transform: translate(-10%, 0);
	animation-name:bike;
    animation-duration:15s;
	animation-iteration-count: 3;
    animation-delay: 200ms;
}
@keyframes bike{

0%{
left: 0%;
}
100%{
left:100%;
}

}


.body__text::before{
	content: "Автобус Петрозаводск - Деревянка";
	position: absolute;
	max-width:180px;
	height:37px;
	transform: translate(40%, 20%);
	background: rgba(255, 245, 238, 0.865);
	border-radius:10px;
	padding:5px;
	animation-name:bike-text;
    animation-duration:10s;
	animation-iteration-count: 2;
    animation-delay: 200ms;
}

@keyframes bike-text{

0%{
content: "Автобус Петрозаводск - Деревянка";	
opacity:5;
}

40%{
width: 180px;
text-align: center;
content: "180p";
opacity:5;
}
70%{
width: 180px;
text-align: center;
content: "06:35,16:05";
opacity:5;
}
100%{
content: "Автобус Петрозаводск - Деревянка";
opacity:3;
}
}


.avto__lawn-1{
	width:80px;
	height:60px;
	background: url("../img/bike_bicycle_transport_icon_183219.png")no-repeat;
	
position: absolute;
top:-19%;
right:50%;

}

.avto__lawn-2{
	width:80px;
	height:60px;
	background: url("../img/work.png")no-repeat;
position: absolute;
top:-19%;
left:50%;

}

.avto__windows-1{
	background:rgba(255, 255, 255, 0.225)url("../img/person_9_icon-icons.com_68901.png")no-repeat;
	width:80px;
	height:40px;
position: absolute;
border:1px solid rgba(0, 0, 0, 0.456);
border-radius: 5px;
bottom:60%;
right:70%;
	
}

.avto__windows-2{
	background:rgba(255, 255, 255, 0.225) url("../img/caucasian_head_man_person_people_avatar_2859.png")no-repeat;
	width:80px;
	height:40px;
	border:1px solid rgba(0, 0, 0, 0.456);
	border-radius: 5px;
position: absolute;
bottom:60%;
left:60%;
	
}
.avto__top-1 {
width:50px;
	height:50px;
	background:url("../img/flashlight72029.png")no-repeat;
	position: absolute;
	bottom:20%;
left:94%;	
animation-name:bike-avto;
animation-duration:10s;
	animation-iteration-count:2;
    animation-delay: 200ms;
}
@keyframes bike-avto{

50%{
	background:#bbc920b1 url("../img/flashlight72029.png")no-repeat;
	border-radius: 80%;
}




}

.avto__top-2 {
width:50px;
	height:50px;
	background: url("../img/flashlight72029.png")no-repeat;
	position: absolute;
	bottom:10%;
right:90%;	
	
}
.avto__middle-1{
	width:110px;
	height:70px;
	background: rgb(31, 47, 77)url("../img/door_handle_40808.png")no-repeat;
	border:3px solid rgba(0, 0, 0, 0.456);
	position: absolute;
	bottom:25%;
left:57%;
   
}

.avto__middle-2{
	width:110px;
	height:70px;
		background: rgb(31, 47, 77)url("../img/door_handle_40808.png")no-repeat;
	border:3px solid rgba(0, 0, 0, 0.456);
	position: absolute;
	bottom:25%;
right:67%;
   
}
.avto__wheels-1 {
	 background:rgb(61, 59, 59)url("../img/45setting.png")center no-repeat;
	width:80px;
	height:80px;
	position: absolute;
	border:3px solid rgba(0, 0, 0, 0.456);
	border-radius:80%;
	top:80%;
	right: 70%;
}

.avto__wheels-2 {
	 background:rgb(61, 59, 59)url("../img/45setting.png")center no-repeat;
	width:80px;
	height:80px;
	position: absolute;
	border:3px solid rgba(0, 0, 0, 0.456);
	border-radius:80%;
	top:80%;
	left: 80%;
}
